@import "../../Styles/App.scss";

//     @include font-size(4rem);

.navbar {
    .logo {
        font-family: 'Josefin Sans', sans-serif;

        .logo-leaf {
            top: -2%;
            left: 26%;
        }
    }

    .navbar-nav {
        .nav-link {
            @include font-size(1.25rem);
            font-family: 'Josefin Sans', sans-serif;
            color: #8D8D8D;

            @include media-breakpoint-down(xxl) {
                @include font-size(1rem);
            }
        }

        & hover,
        .nav-link.active {
            color: #000000;
            font-weight: 600;
        }


    }

    .navbar-toggler {
        padding: 0.2rem 0.5rem;
        transition: border 0.3s ease-in;

        &:focus {
            border-color: $lightGreen;
            box-shadow: none;
        }
    }

    @include media-breakpoint-down(md) {


        .navbar-collapse {
            background-color: #ffffff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50vh;

            .navbar-nav {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                text-align: center;
            }

            .closeBtn {
                width: 20px;
                height: 20px;
            }
        }

    }

}

.hero {
    margin-top: 6%;

    @include media-breakpoint-down(xl) {
        margin-top: 10%;
    }

    @include media-breakpoint-down(lg) {
        text-align: center;


    }

    .hero-title {
        @include font-size(4.5rem);
        font-family: 'Josefin Sans', sans-serif;
        color: #2C3722;
        margin-bottom: 2.5rem;

    }

    .hero-desc {
        @include font-size(1.25rem);
        font-weight: 500;
        color: #636465;
        margin-bottom: 3.75rem;

    }

    .form-floating {
        &>.form-control {
            border-radius: 5px;
        }
    }

}

.pizza-container {
    position: relative;

    .circle {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid $lightGreen;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        z-index: -2;


        .inner-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 450px;
            height: 450px;
            border-radius: 50%;
            background-color: #F5FFE9;

        }

        .leaf {
            position: absolute;
            z-index: -1;
            transition: all 0.3s ease-in-out;

            &:nth-child(2n) {
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }


            &:first-of-type {
                top: -19%;
                right: 35%;
                transform: rotate(150deg);
            }

            &:nth-of-type(2) {
                top: 5%;
                right: -2%;
                transform: rotate(150deg);
            }

            &:nth-of-type(3) {
                top: 40%;
                right: -16%;
                transform: rotate(245deg);
            }

            &:nth-of-type(4) {
                bottom: -4%;
                right: -2%;
                transform: rotate(100deg) scaleX(-1);
            }

            &:nth-of-type(5) {
                bottom: -19%;
                right: 35%;
                transform: rotate(25deg) scaleX(-1);
            }

            &:nth-of-type(6) {
                bottom: -3%;
                left: 3%;
                transform: rotate(100deg) scaleX(-1);
            }

            &:nth-of-type(7) {
                top: 40%;
                left: -16%;
                transform: rotate(120deg) scaleX(-1);
            }

            &:nth-of-type(8) {
                top: 6%;
                left: -13%;
                transform: rotate(0deg) scaleX(1);
            }

        }
    }

    &:hover {
        .circle {
            .leaf {
                &:first-of-type {
                    top: -25%;
                }

                &:nth-of-type(3) {
                    right: -24%;
                }

                &:nth-of-type(5) {
                    bottom: -25%;
                }

                &:nth-of-type(7) {
                    left: -25%;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: 20%;

        .circle {
            width: 300px;
            height: 300px;

            .leaf {
                width: 30%;
                height: 30%;
            }

            .inner-circle {

                width: 90%;
                height: 90%;

                img {
                    width: 90%;
                    height: 90%;
                    -o-object-fit: content;
                    object-fit: content;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}