@import "../../Styles/App.scss";


footer {
    padding: 100px 0 80px;
    background-color: $lightGray;
    position: relative;

    @include media-breakpoint-down(xxl) {
        padding: 70px 0 40px;
    }

    @include media-breakpoint-down(md) {
        padding: 60px 0 20px;
    }

    .vegetables {
        max-width: 160px;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        position: absolute;
        bottom: 45%;
        right: 5%;

        @include media-breakpoint-down(xxl) {
            right: 10%;
            max-width: 50px;
        }

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    .footer-leaf {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        max-width: 180px;
        max-height: 150px;
        position: absolute;
        bottom: 36%;
        left: 5%;

        @include media-breakpoint-down(xxl) {
            max-width: 80px;
            height: auto;
            left: 0;
        }

        @include media-breakpoint-down(xl) {
            display: none;
        }
    }



    .logo {
        font-family: 'Josefin Sans', sans-serif;
        color: $lightBlack;
        position: relative;

        .logo-leaf {
            position: absolute;
            top: -5%;
            left: 23px;

            @include media-breakpoint-down(lg) {
                top: -10%;
                left: 17px;
            }

            @include media-breakpoint-down(sm) {
                top: -19%;
                left: 13px;
            }



        }
    }

    .icon-wrap {
        background: linear-gradient(#8CB560, #639D2B);
        width: 40px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(xxl) {
            width: 35px;
            height: 35px;
            font-size: 16px !important;
        }

    }

    .footer-p,
    .col-title,
    span,
    .link {
        @include font-size(1.5rem);
        font-family: 'Josefin Sans', sans-serif;

        @include media-breakpoint-down(xxl) {
            @include font-size(1.125rem);
        }

        @include media-breakpoint-down(lg) {
            @include font-size(1rem);
        }
    }

    span {
        margin-bottom: 15px;

        .link {
            color: inherit;
            cursor: pointer;
            text-decoration: none;
        }
    }

    .col-title {
        color: $lightBlack;
    }

}